.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  padding: 20px 0;
}

.button {
  cursor: pointer;
  /* clean button */
  display: block;
  width: 100%;
  /* clean button */

  margin-bottom: 30px;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  font-weight: normal;
  color: var(--default-color-950);
  text-align: center;
  appearance: none;
  background: transparent;
  background-color: var(--default-color-100);
}
