.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  height: 100%;

  & ol {
    padding-left: 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    list-style-position: inside;

    & li:not(:last-of-type) {
      margin-bottom: 8px;
    }

    & code {
      font-family: inherit;
      background: rgba(0, 0, 0, 0.05);
      padding: 2px 4px;
      border-radius: 4px;
      font-weight: 600;
    }
  }

  & .logo {
    color: var(--foreground);
    max-width: 300px;
    margin-bottom: 30px;
  }
}

.button {
  /* clean button */
  display: block;
  width: 100%;
  appearance: none;
  border: none;
  cursor: pointer;
  background: transparent;
  font-weight: normal;
  text-align: center;
  /* clean button */

  margin-bottom: 30px;
  padding: 8px 16px;
  background-color: var(--default-color-100);
  color: var(--default-color-950);
  font-size: 16px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  width: 100%;
}

.locales {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
